.table {
  margin: auto;
  list-style: none;
  display: flex;
}
.table-filed {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  /* padding: 10px; */
  border: 2px solid;
}
.update_btn .nas li a {
  color: black;
}
